.updating,
.badge {
    cursor: pointer;
    margin-top: 0.7em;
}
.updating {
    animation: pulse 300ms infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
