.userNav {
  position: relative;
}

.userEmail {
  color: var(--gray-11);
  font-size: 0.875rem;
  font-weight: 500;
}

.loading {
  color: var(--gray-11);
  font-size: 0.875rem;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 16em;
  z-index: 1000;

  white-space: nowrap;
}

.names {
  font-size: 0.9em;
}

.userName {
  font-weight: bold;
}
.fullName {
  opacity: 0.8;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding: 0.4em;
  border-radius: 0.3em;

  &:hover {
    background: #fff1;
  }
}

.menuItemIcon {
  display: inline-block;
  opacity: 0.8;

  svg {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .userNav {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
  }

  .userEmail {
    font-size: 0.75rem;
  }
}