.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 3em;
}

.header {
    margin: 0.2em 0 0;
    white-space: nowrap;
    line-height: 1;
}

.date {
    display: flex;
    gap: 1em;
    font-size: 14px;
}

.gaugeStats {
    width: 100%;

    margin-bottom: 2em;
}

.dataGridSection {
    margin-top: 2em;
    margin-bottom: 2em;
}

.dataGridSection h2 {
    margin-bottom: 1em;
    font-size: 1.5rem;
    font-weight: 600;
}